<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom.css') }}">
</head>
<body>
    <div id="sidebar">
        <h2>Upload an image</h2>
        <form id="uploadImageForm">
            <input type="file" id="fileUpload" name="file">
            <input type="submit" class="submitButton" id="uploadButton" value="Upload">
        </form>
        <h2>Image Creation and Editing</h2>
        <div>
            <div>
                <p>Prompt:</p>
                <input type="text" id="imgPrompt" name="img_prompt" placeholder="Enter a prompt">
            </div>
            <div>
                <p>Negative Prompt:</p>
                <input type="text" id="negativePrompt" name="negative_prompt" placeholder="Enter a negative prompt">
            </div>
            <div>
                <p>Number of inference steps:</p>
                <input type="range" min="0" max="100" value="{{ DEFAULTARGS.inferenceSteps }}" id="stepsSlider" oninput="updateValue(this.id, this.value)">
                <span id="stepsValue">{{ DEFAULTARGS.inferenceSteps }}</span>
            </div>
            <div>
                <p>Guidance scale:</p>
                <input type="range" min="0" max="30" value="{{ DEFAULTARGS.guidanceScale }}" id="guidanceSlider" oninput="updateValue(this.id, this.value)">
                <span id="guidanceValue">{{ DEFAULTARGS.guidanceScale }}</span>
            </div>
            <div>
                <p>Brush size:</p>
                <input type="range" min="1" max="100" value="10" id="brushSizeSlider" oninput="updateValue(this.id, this.value)">
                <span id="brushSizeValue">10</span>
            </div>
            <div>
                <button id="brushIcon" class="icon-button">
                    <i class="fa fa-paint-brush" aria-hidden="true"></i>
                </button>
                <button id="maskIcon" class="icon-button">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
            </div>
            <div>
                <button id="generateImageButton" class="submitButton" type="button">Generate new image</button>
                <button id="upscaleImageButton" class="submitButton" type="button" disabled>Upscale loaded image</button>
                <button id="inpaintButton" class="submitButton" type="button" disabled>Update loaded image</button>
            </div>
        </div>
        <h2>Save Image</h2>
        <div>
            <button id="saveImageButton">Save Image</button>
        </div>
    </div>
    <div id="content">
        <div id="loadedImageDisplay" style="display:none;">
            <div id="imageContainer">
                <img id="resultImage" class="displayed-image" alt="Loaded image" style="display:none;"/>
                <canvas id="canvas"></canvas>
                <div id="loader" class="loader" style="display: none;"></div>
            </div>
        </div>
    </div>
</body>
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
    function updateValue(elementId, value) {
        const outputId = elementId.replace("Slider", "Value");
        document.getElementById(outputId).innerText = value;
    }
</script>
</html>