<!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
</head>
<body>
    <h1>Load an Image</h1>
    <form>
        <input type="file" id="file-upload" name="file">
        <input type="button" id="upload-button" value="Upload">
    </form>
    <form>
        <input type="text" id="img-prompt" name="img_prompt" placeholder="Enter a prompt">
        <input type="button" id="generate-image-button" value="Generate Image">
    </form>
    <div id="loaded-image-div" style="display: none;">
        <h1>Uploaded Image</h1>
        <img src="data:image/jpeg;base64,{{ img }}" id="loaded-image" alt="Loaded image">
    </div>
</body>
<script>
    function convertFileToBase64(file, callback) {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => {
            const base64String = reader.result.replace('data:', '').replace(/^.+,/, '');
            callback(base64String);
        };
    }

    function updateImage(base64String) {
        image.src = `data:image/jpeg;base64,${base64String}`;
    }

    function generateImage(prompt, callback) {
        const url = "{{ url_for('generate_image_request') }}";

        const formData = new FormData();
        formData.append('prompt', prompt)

        fetch(url, {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => updateImage(data.img_str))
            .catch(error => console.error('Error:', error));
    }

    function showLoadedImage() {
        const element = document.getElementById('loaded-image-div');
        element.style.display = 'block';
    }

    const generateButton = document.getElementById('generate-image-button');
    const uploadFile = document.getElementById('file-upload');
    const uploadButton = document.getElementById('upload-button');
    const image = document.getElementById('loaded-image');

    generateButton.addEventListener('click', () => {
        const prompt = document.getElementById('img-prompt').value;
        generateImage(prompt);
        showLoadedImage();
    });

    uploadButton.addEventListener('click', () => {
        const file = uploadFile.files[0];
        convertFileToBase64(file, (base64String) => {
            updateImage(base64String);
        });
        showLoadedImage();
    })
</script>
</html>