body {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

/* CSS for main UI elements */
/* For the sidebar */
#optionGroups {
  min-width: 4vh;
}

#userOptions {
  min-width: 20vh;
  text-align: center;
  overflow-y: auto;
}

.sidebar {
  border-right: 1px solid #ccc;
  background: #ffffff;
  z-index: 10;
  height: 100vh;
}

.main-content-group {
  overflow: hidden;
}

/* Set collapse duration to 0s */
#userOptions * {
  transition: none;
}

/* For image section */
#imageContent {
  background: #f8f8f8;
  display: flex;
  flex-grow: 1;
}

#zoomContainer {
  display: flex;
  position: absolute;
  height: 100%;
}

#canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Loading element */
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Individual element styling */
.custom-line {
    border: 0; /* Remove default border */
    border-top: 1px solid #a2a2a2; /* Add a 1px solid line */
    width: 90%; /* Adjust the width as needed, e.g., 80% */
    margin: 10px auto; /* Center the line and add space between elements */
}

/* Configure sidebar buttons when selected */
.selected-button {
  background-color: #007bff;
  color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.selected-button:hover,
.selected-button:focus {
    background-color: #007bff;
    color: white;
}
